<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.YouOweMeProject">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="You Owe Me"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BottomNavigationActivity"
        tools:targetApi="31">

        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            />
        <activity android:name=".Welcome.RegistrationActivity" android:exported="false"
            android:theme="@style/Theme.Design.Light.NoActionBar"/>
        <activity android:name=".Welcome.LoginActivity" android:exported="true"
            android:theme="@style/Theme.Design.Light.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".FriendsList.AddFriendActivity"
            android:parentActivityName=".FriendsListActivity"
            android:exported="false">
        </activity>
        <activity android:name=".FriendsList.AddFriend.Failed" android:exported="false"/>
        <activity android:name=".FriendsList.AddFriend.Successful" android:exported="false"/>
        <activity
            android:name="com.example.YouOweMeProject.AddExpensesActivity"
            android:exported="false" />
        <activity android:name=".AddExpenses.OweYou"
            android:exported="false"
            android:parentActivityName=".AddExpensesActivity"
            />
        <activity
            android:name="com.example.YouOweMeProject.AddExpenses.AddAmount"
            android:parentActivityName="com.example.YouOweMeProject.AddExpensesActivity" />
        <activity
            android:name="com.example.YouOweMeProject.AddExpenses.Amount.ConfirmationPage"
            android:parentActivityName="com.example.YouOweMeProject.AddExpenses.AddAmount"
            />
        <activity
            android:name="com.example.YouOweMeProject.HistoryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.YouOweMeProject.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.YouOweMeProject.Settings.ProfileActivity"
            android:parentActivityName="com.example.YouOweMeProject.SettingsActivity" />
        <activity
            android:name="com.example.YouOweMeProject.Settings.PrivacyActivity"
            android:parentActivityName="com.example.YouOweMeProject.SettingsActivity" />
        <activity
            android:name="com.example.YouOweMeProject.Settings.AboutUsActivity"
            android:parentActivityName="com.example.YouOweMeProject.SettingsActivity" />
        <activity
            android:name="com.example.YouOweMeProject.Settings.Profile.EditProfileActivity"
            android:parentActivityName="com.example.YouOweMeProject.Settings.ProfileActivity" />
        <activity
            android:name="com.example.YouOweMeProject.FriendsListActivity"
            android:exported="false" />
        <activity
            android:name=".FriendsList.FriendActivity"
            android:parentActivityName="com.example.YouOweMeProject.FriendsListActivity" />
        <activity
            android:name="com.example.YouOweMeProject.MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".FriendsList.Friend.SettleUp.Confirmation"
            android:parentActivityName=".FriendsList.Friend.SettleUpActivity"></activity>
        <activity
            android:name=".FriendsList.Friend.SettleUpActivity"
            android:parentActivityName=".FriendsList.Friend.SettleUpActivity"></activity>

    </application>

</manifest>